<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313332945097-uul6duut928dnpqgvr0ornq1vt5o04bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313332945097-uul6duut928dnpqgvr0ornq1vt5o04bs</string>
	<key>API_KEY</key>
	<string>AIzaSyDL5-DHFh6Lbd26QW1Ig7SGV30xymc705A</string>
	<key>GCM_SENDER_ID</key>
	<string>313332945097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.lordvidex.taskMeter</string>
	<key>PROJECT_ID</key>
	<string>task-meter</string>
	<key>STORAGE_BUCKET</key>
	<string>task-meter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313332945097:ios:9680b6ef1e5593e43dfd18</string>
</dict>
</plist>